.footerCard {
    text-align: center;
    padding: 16px;
    background-color:#ec5656;
    color: white;
  }

  .buttomPuls {
    border-radius: 50%;
  }

  .ReactModal__Content,ReactModal__Content--after-open {
    width: 1000px;
    height: 700px;
    margin: 50px auto;
    position: 'fixed';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: 'white';
    z-index: 400;
    border-radius: 10px !important;
  }